@model Supermercado.E.Shop.App.Models.UserRegisterModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
    <title>Register</title>
</head>
<body>
    <div class="container">
        <div class="panel">
            <div class="panel-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                {
                    <div class="row">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.TextBoxFor(u => u.Username, new { placeholder = Html.DisplayNameFor(u => u.Username), @class = "form-control", maxlength = 10 })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.TextBoxFor(u => u.Email, new { placeholder = Html.DisplayNameFor(u => u.Email), @class = "form-control", maxlength = 200 })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.PasswordFor(u => u.Password, new { placeholder = Html.DisplayNameFor(u => u.Password), @class = "form-control", maxlength = 20 })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.PasswordFor(u => u.ConfirmationPassword, new { placeholder = Html.DisplayNameFor(u => u.ConfirmationPassword), @class = "form-control", maxlength = 20 })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group text-right">
                            @Html.ActionLink("Back", "Login", "Account", null, new { @class = "btn btn-primary", role = "button" })
                            <button class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
